.divstyle {
	width: min-content;
	margin: auto;
	background-color: #424242;
	margin-top: 2em;
	padding: 2em 4em;
	border-radius: 0.5em;
}

.formstyle {
	width: fit-content;
}
.bgcolor {
	background-color: #f4d3ec;
	color: aliceblue;
}
.imgmargin {
	margin-bottom: 1em;
	width: -webkit-fill-available;
	border-radius: 50%;
}
.loginbtn {
	background-color: #2196f3;
	color: aliceblue;
}
