.App {
	text-align: center;
	background: #f4d3ec !important;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
nav ul {
	list-style: none;
	display: flex;
	background-color: black;
	margin-bottom: 20px;
}

nav ul li {
	padding: 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}
